.mainForm {
  margin-top: 50px;
  padding: 10px;
  text-align: center;
  width: 800px;
  border-style: solid;
  border-width: thin;
  border-color: grey;
}
img {
  display: block;
  width: 780px;
}
h1 {
  font-weight: bold;
}
.genderOptionM {
  float: left;
}
.genderOptionF {
  float: right;
}
hr {
  margin-top: 0px;
  margin-bottom: 0px;
  border-style: inset;
}
.formBox {
  text-align: left;
  width: 800px;
  font-size: 14pt;
  padding: 50px;
}
.alert {
  color: #ff1d1d;
  font-size: 10pt;
  margin: -5px;
  padding-bottom: -5px;
}
button.reg {
  float: right;
}
